<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Notebook</title>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <!-- Include the library in the page -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- Add the marked library: -->
        <script src="https://unpkg.com/marked"></script>

        <!-- Notebook app -->
        <div id="notebook">
            <!-- Sidebar -->
            <aside class="side-bar">
                <!-- Toolbar -->
                <div class="toolbar">
                    <!-- Add note button -->
                    <button @click="addNote" :title="addButtonTitle">
                        <i class="material-icons">add</i>Add note
                    </button>
                </div>
                <div class="notes">
                    <div
                        class="note"
                        v-for="note of sortedNotes"
                        :class="{selected: note === selectedNote}"
                        @click="selectNote(note)"
                    >
                        <i class="icon material-icons" v-if="note.favorite"
                            >star</i
                        >
                        {{ note.title }}
                    </div>
                </div>
            </aside>

            <template v-if="selectedNote">
                <!-- Main pane -->
                <section class="main">
                    <div class="toolbar">
                        <!-- Our toolbar is here! -->
                        <input
                            v-model="selectedNote.title"
                            placeholder="Note title"
                        />
                        <!-- delete button -->
                        <button @click="removeNote" title="Remove note">
                            <i class="material-icons">delete</i>
                        </button>
                        <!-- favorite button -->
                        <button @click="favoriteNote">
                            <i class="material-icons">{{
                                selectedNote.favorite ? 'star' : 'star_border'
                            }}</i>
                        </button>
                    </div>
                    <textarea v-model="selectedNote.content"> </textarea>
                </section>

                <!-- Preview pane -->
                <aside class="preview" v-html="notePreview"></aside>
            </template>
        </div>
        <!-- Some JavaScript -->
        <script src="script.js"></script>
    </body>
</html>
