<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Notebook</title>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <!-- Include the library in the page -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- Add the marked library: -->
        <script src="https://unpkg.com/marked"></script>

        <!-- Notebook app -->
        <div id="notebook">
            <!-- Sidebar -->
            <aside class="side-bar">
                <!-- Toolbar -->
                <div class="toolbar">
                    <!-- Add note button -->
                    <button @click="addNote" :title="addButtonTitle">
                        <i class="material-icons">add</i>Add note
                    </button>
                </div>
                <div class="notes">
                    <div
                        class="note"
                        v-for="note of notes"
                        @click="selectNote(note)"
                        :class="{selected: note === selectedNote}"
                    >
                        {{ note.title }}
                    </div>
                </div>
            </aside>

            <template v-if="selectedNote">
                <!-- Main pane -->
                <section class="main">
                    <textarea v-model="selectedNote.content"> </textarea>
                </section>

                <!-- Preview pane -->
                <aside class="preview" v-html="notePreview"></aside>
            </template>
        </div>
        <!-- Some JavaScript -->
        <script src="script.js"></script>
    </body>
</html>
